// $alert: (
//     'danger': red,
//     'success': green,
//     'warning': orange
// );

// $blue: blue;

// header{
//     background-color: map-get($alert, 'danger');
//     h1{
//         // background-color: $blue;
//         &:hover{
//             background-color: black;
//         }
//     }
// }

// .main{
//     #{&}-head{
//         color: red;
//         .text{
//             color: rgb(255, 238, 0);
//         }
//     }
//     & &-content{
//         color: rgb(21, 255, 0);
//     }
// }

// COLOR LIBRARY
$white      : #ffffff;
$main-color : #EFEFF1;
$dark-bg    : #798394;
$btn        : #5E84AF;
$dark-text  : #4A4A4A;
$blue-theme : #0075FF;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: $main-color;
}

/* START Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .header{
        margin-top      : 20px;
        display         : flex;
        place-items     : center;
        justify-content : space-between;
        padding         : 7px 5%;
        &-logo{
            display: flex;
            // background-color: #6e78ff;
            place-items: center;
            &-img{
                width: 8vw;
                height: 8vw;
                margin-right: 2vw;
            }
            p{
                // background-color: aqua;
                font-size: 7vw;
                font-weight: 600;
                padding-top: 1vw;
                color: #4a4a4a;
            }
        }
        &-button{
            border: none;
            img{
                width: 8vw;
            }
        }
        &-popupContainer{
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            &.active{
                opacity: 1;
                pointer-events: auto;
                transition: .4s ease;
                .header-popupContainer-popupBox {
                    transform: scale(1);
                    transition: .3s ease;
                    /* transition-delay: .1s; */
                }
            }
            &-popupBox{
                display: flex;
                flex-direction: column;
                justify-content: center;       
                height: 45vh;
                width: 80vw;
                background: #f2f2f2;
                border-radius: 9px;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                padding: 20px;
                transform: scale(0);
                &-closeBtn{
                    width: 100%;
                    height: 5vh;
                    background: #6e78ff;
                    border-radius: 6px;
                    border: none;
                    outline: none;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                    cursor: pointer;
                    font-size: 4.5vw;
                    color: #f2f2f2;
                    font-weight: 500;
                    margin-top: 3vh;
                }
            }
        }
    }

    .main{
        margin-top: 5vh;
        &-home{
            // background-color: #6e78ff;
            &-photo-profile{
                width: 80vw;
                display: block;
                margin: 0 auto;
            }
            &-nameDesc{
                background-color: $white;
                margin: 0 auto;
                width: 90%;
                border-radius: 20px;
                color: $dark-text;
                padding: 5vw 5vw 10vw 5vw;
                text-align: right;
                box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                &-h2{
                    text-align: left;
                }
                &-h1{
                    color: $blue-theme;
                    font-size: 9vw;
                    text-align: left;
                }
                &-p{
                    font-size: 4.5vw;
                    font-weight: 500;
                    margin-bottom: 4vh;
                    text-align: left;
                    &-span{
                        color: $blue-theme;
                    }
                }
                &-a{
                    width: 50vw;
                    border-radius: 10px;
                    border: 1.5px solid $dark-text;
                    color: $dark-text;
                    text-decoration: none;
                    padding: 2vw 5.5vw;
                    margin: 0vh 0 20vw 0vw;
                    font-size: 5vw;
                    font-weight: 500;
                    box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.50);
                }
            }
        }
        &-about{
            margin-top: 1vh;
            background-color: $dark-bg;
            &-h1{
                margin-top: 2vh;
                color: $main-color;
                text-align: center;
                font-size: 6.5vw;
            }
            &-p{
                margin: 2vh 0;
                padding: 0 10vw;
                color: $main-color;
                font-size: 4.5vw;
            }
            & svg{
                display: block;
            }
        }
        &-skills{
            &-h1{
                margin: 2vh 0 3vh 0;
                color: $dark-bg;
                text-align: center;
                font-size: 6.5vw;
            }
            &-list{
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content:flex-start;
                &-card{
                    border: 1px solid $dark-bg;
                    border-radius: 13px;
                    width: 42vw;
                    display: inline-flex;
                    align-items: center;
                    margin:0 1.5vw 17px 1.5vw;
                    padding: 1.5vw 2.5vw;
                    box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                    &-img{
                        width: 8vw;
                        height: 8vw;
                        place-content: center;
                    }
                    &-title{
                        margin-left: 5px;
                        & h2{
                            font-size: 5vw;
                        }
                        & h3{
                            font-size: 4vw;
                            font-weight: 400;
                            color: $dark-bg;
                        }
                    }
                }
            }
        }
        &-certif{
            &-h1{
                margin: 2vh 0 3vh 0;
                color: $dark-bg;
                text-align: center;
                font-size: 6.5vw;
            }
            &-list{
                display: block;
                margin: 0 auto;
                width: 90%;
                &-card{
                    display:inline-flex;
                    align-items: center;
                    background-color: $white;
                    margin-bottom: 2vh;
                    width: 100%;
                    height: 10vh;
                    border-radius: 10px;
                    box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                    &-retangle{
                        border-radius: 10px 0 0 10px;
                        width: 20vw;
                        height: 10vh;
                        position: absolute;
                        z-index: 1;
                    }
                    &-img{
                        height: 7vh;
                        width: 23vw;
                        z-index: 3;
                        margin-left: 3vw;
                        margin-right: 3vw;
                        place-content: center;
                        border-radius: 5px;
                    }
                    &-title{
                        // background-color: aquamarine;
                        & h1{
                            font-size: 4.2vw;
                            color: $dark-text;
                            width: 54vw;
                        }
                        & h2{
                            display: none;
                        }
                        & h3{
                            display: none;
                        }
                    }
                    &-icon{
                        margin-top: auto;
                        margin-bottom: 1.5vh;
                        // background-color: #0075FF;
                        width: 4vw;
                        height: 4vw;
                    }
                
                }
            }
        }
        &-provider{
            background-color: $white;
            border-radius: 40px;
            margin-top: 10vh;
            padding: 5vh 0;
            &-h1{
                margin: 0 0 3vh 0;
                color: $dark-bg;
                text-align: center;
                font-size: 6.5vw;
            }
            &-list{
                margin: 0 auto;
                width: 80%;
                &-card{
                    display: flex;
                    margin-bottom: 3vh;
                    align-items: center;
                    // background-color: #6e78ff;
                    & img{
                        width: 18vw;
                        height: 10vh;
                        margin-right: 6vw;
                    }
                    &-title{
                        display: block;
                        & h1{
                            font-size: 6vw;
                            color: $dark-text;
                            margin-bottom: .4vh;
                        }
                        & p{
                            font-size: 4vw;
                            color: $dark-bg;
                        }
                    }
                }
            }
        }
        &-project{
            &-h1{
                margin: 10vh 0 3vh 0;
                color: $dark-bg;
                text-align: center;
                font-size: 6.5vw; 
            }
            &-list{
                margin: 0 auto;
                width: 80%;
                &-card{
                    border-radius: 20px;
                    background-color: $dark-bg;
                    margin-bottom: 5vh;
                    width: 100%;
                    box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                    & h1{
                        padding: 1.5vh 0;
                        text-align: center;
                        color: $white;
                        font-size: 6vw;
                        font-weight: 500;
                    }
                    &-layer2{
                        background-color: $white;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        // text-align: center;
                        & img{
                            display: block;
                            margin: 0 auto;
                            width: 60vw;
                            padding: 4vh 0 3vh 0;
                        }
                        & p{
                            // background-color: #0075FF;
                            width: 80%;
                            color: $dark-bg;
                        }
                        &-link{
                            margin: 3vh 0 3vh 0;
                            &-detail{
                                display: inline-block;
                                text-decoration: none;
                                margin-right: 10px;
                                padding: 1vh 4vw;
                                width: 32vw;
                                text-align: center;
                                border: 1px solid $btn;
                                color: $btn;
                                border-radius: 13px;
                                box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                            }
                            &-visit{
                                box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                                text-align: center;
                                display: inline-block;
                                width: 32vw;
                                border-radius: 13px;
                                text-decoration: none;
                                padding: 1vh 4vw;
                                background-color: $btn;
                                margin-left: 10px;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        &-contact{
            text-align: center;
            &-h1{
                margin: 10vh 0 3vh 0;
                color: $dark-bg;
                font-size: 6.5vw; 
            }
            & p{
                margin: 0 auto 5vh auto ;
                width: 85%;
                color: $dark-bg;
            }
            &-list{
                
                &-card{
                    border-radius: 30px;
                    background-color: $white;
                    margin-bottom: 3vh;
                    width: 50vw;
                    display: inline-flex;
                    box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.30);
                    &-mid{
                        padding: 1vh 0;
                        align-items: center;
                        display: flex;
                        // background-color: aquamarine;
                        // justify-content: center;
                        margin: 0 auto;
                        width: 35vw;
                        & img{
                            width: 10vw;
                            margin-right: 10px;
                        }
                        & h3{
                            // text-align: left;
                            color: $dark-text;
                            // background-color: #0075FF;
                        }
                    }
                }
            }
        }
    }

    .footer{
        margin-top: 5vh;
        background-color: $dark-bg;
        color: $white;
        text-align: center;
        padding: 2vh 0;
    }
}
/* END Extra small devices (phones, 600px and down) */

